<!DOCTYPE html>
<html>

<head>
	<title>Shoes Detect</title>
	<link rel="icon" type="image/x-icon" href="/static/img/favico.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/static/js/main.js" defer></script>
	<link rel="stylesheet" type="text/css" href="/static/css/pantoneColors.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
</head>

<body>

	<h2 align="center">SHOES DETECTION</h2>

	<div id="user_register" class="container">
		<div class="col-sm-1 col-md-1 col-lg-1"></div>
		<div class="col-sm-10 col-md-10 col-lg-10" style="margin-top:auto;">
			<table>
				<tr>
					<td>
						<div id="photo_pan" style="width:450px;height:450px;margin:auto">
							<img id="register_photo" style="max-height:450;width:100%;height:auto;margin:auto;">
						</div>
					</td>
					<td>
						<div id="photo_pan2" style="width:450px;height:450px;margin:auto">
							<img id="register_photo2" style="width:100%;height:auto;margin:auto;">
						</div>
					</td>
				</tr>
			</table>
			<div style="display: flex;margin-top:50px;flex-direction: column;gap: 10px;">
				<div class="row" style="display: flex;text-align: center;align-items: center;justify-content: center;">
					<div class="form-group" style="display: flex; flex-direction: row;">
						<label for="shoePantone" style="align-self: center;width: -webkit-fill-available;">Shoe Color</label>
						<select id="shoePantone" name=colors class="form-control"></select>
					</div>
					<div class="form-group" style="display: flex; flex-direction: row;">
						<label for="solePantone" style="align-self: center;width: -webkit-fill-available;">Sole Color</label>
						<select id="solePantone" name=colors class="form-control"></select>
					</div>
				</div>
				<div class="row" style="text-align: center">
					<button id="btnupload" name="btnupload" class="btn btn-success" onclick="onUploadClick()">
						Upload File
					</button>
					<input type="file" id="register_imgfile" name="register_imgfile" style="display:none" />
					<button id="btnprocess" name="btnprocess" class="btn btn-success"onclick="onProcessClick()">
						Process
					</button>
					<button id="btnsetcolor" name="btnsetcolor" class="btn btn-success" onclick="onSetColorClick()">
						Set Color
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>